* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: none;
    transition: none;
}

window#waybar {
    background: black;
    color: white;
}

#workspaces button {
    color: inherit;
    padding: 0 8px;
}

#workspaces button:hover{
    background: gray;
}

#workspaces button.focused {
    border-top: 2px solid white;
    padding-bottom: 2px;
}

#workspaces button.urgent {
    background: white;
    color: black;
}

#clock, #tray, #network, #pulseaudio, #battery {
    border-radius: 20px;
    padding: 0 10px;
}

#clock:hover, #tray:hover, #network:hover, #pulseaudio:hover, #battery:hover {
    background: gray;
}

@keyframes blink {
    to {
        background-color: rgba(1, 1, 1, 0);
    }
}

#battery.warning:not(.charging) {
    background: gray;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
