* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    transition: none;
}

window#waybar {
    background: black;
    color: white;
}

#workspaces button {
    padding: 0 5px;
    color: inherit;
}

#workspaces button:hover{
    color:black;
    background: white;
}
#workspaces button.focused {
    border-top: 2px solid white;
    padding-bottom: 2px;
}

#workspaces button.urgent {
    color: black;
    background: white;
}

#clock, #tray, #network, #pulseaudio,#battery {
    padding: 0 8px;
}

#clock:hover {
    color: black;
    background: white;
}

#network:hover {
    color: black;
    background: white;
}

#pulseaudio:hover {
    color: black;
    background: white;
}

#battery:hover {
    color: black;
    background: white;
}

@keyframes blink {
    to {
        background-color: rgba(1, 1, 1, 0);
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
